
body {
    background-color: #314E52;
    color: #F7F6E7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a {
    color: inherit;
  }

.container {
    width: 500px;
}

img {
    width: 100%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
    /* body {
        background-color: red;
    } */

    .center {
        margin: auto;
        width: 90%;
      } 

      .nav {
        margin-right: 10px;
    }
}


@media only screen 
and (min-device-width : 768px) {
    /* body {
        background-color: blue;
    } */

    .center {
        margin: auto;
        width: 60%;
    } 

    .nav {
        margin-right: 100px;
    }
    

}


.debug {
    /* border: 1px solid red; */
}


  
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 10px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: inherit;
    color: inherit;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }


  code1 {
    padding: 20px;
    font-size: .9em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: pre;
    line-height: 100%;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ececec;
    letter-spacing: -3px;
    overflow-x: auto;
    overflow-y: auto;
}


code{
    display: block;
    overflow-x: auto;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    overflow-x: auto;
}



    .stickyshare {
      text-align: center;
      position: fixed;
      top: 50%;
      left: 8%;
    }
  
    .rotate {
      display: flex;
      margin-top: 0;
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: -20px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
    }
  
  
  .d-none {
    display: none!important;
  }



.footer {
  bottom: 5px;
  position: relative;
}



/* The progress bar (scroll indicator) */
.progress-bar {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 5px;
    background: hotpink;
    width: 0%;
  }

.title {
text-align: center;
}


/* credit https://csspoint101.com/30-css-animated-background/ */
.Woods {
  color: #FFF5DA;
  background-color: hsla(200,40%,30%,.4);
  background-image:   
    url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
    url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
    url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
    url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
    url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
  background-repeat: repeat-x;
  background-position: 
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
  background-size: 
    2500px,
    800px,
    500px 200px,
    1000px,
    400px 260px;
  animation: 50s para infinite linear;
  }

@keyframes para {
  100% {
    background-position: 
      -5000px 20%,
      -800px 95%,
      500px 50%,
      1000px 100%,
      400px 0;
    }
  }


  .logo_banner {
    background-image: url('https://dialsource.com/wp-content/uploads/2017/11/dialsource-social-logos-1.png');
    height: 70px;
    width: 100%;
    margin-top: 60px;
    animation: backgroundScroll 60s linear infinite;
  }
  
  @keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -4502px 0;}
  }